* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  margin: 1rem;
  width: 400px;
  position: relative;
}

.slider {
  width: 100%;
  height: 580px;
}

.slider img, .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-container {
  width: 100%;
  display: flex;
}

.thumbnail {
  width: 20%;
  height: 110px;
}

.thumbnail img{
  filter: brightness(0.7);
}

.title {
  margin-bottom: 1rem;
}

.next, .prev {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.48);
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 290px;
  transform: translateY(50%);
  cursor: pointer;
}

.next:hover, .prev:hover {
  background-color: rgba(255, 255, 255, 0.701);
}

.next {
  right: 15px;
}

.prev {
  left: 15px;
}

.thumbnail .active {
  border: 4px solid rgba(255, 255, 255, 0.676);
  filter: brightness(1);
}

.info-box {
  text-align: center;
}